body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(#004B91, #00826C) no-repeat;
    height: 100vh;
}

/*another-classes*/
.pointer {
    cursor: pointer;
}
/*another-classes-end*/

/*containers*/
.flex-line-container {
    display: flex;
    align-items: center;
}

.container {
    width: 100%;
    height: 100%;
    display: grid;
    align-content: center;
}
/*containers-end*/