{% load static %}

<footer>
    <div class="footer-container">
        <a class="flex-line-container" id="footer-mail" href="mailto:uralsite@gmail.com">
            <img src="{% static 'visual/css/images/mail.png' %}">
            <p>Поддержка</p>
        </a>
        <div>
            <p>Авторы</p>
            <p id="first-author-name" ><a class="author" href="https://vk.com/vladik.kravchenko">Кравченко В.А.</a></p>
            <p id="second-author-name"><a class="author" href="https://vk.com/arroganttoddler">Корсаков В.А.</a></p>
        </div>
    </div>
</footer>