{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link type="image/x-icon" href="{% static 'visual/css/images/favicon.png' %}" rel="shortcut icon">
    <link type="Image/x-icon" href="{% static 'visual/css/images/favicon.png' %}" rel="icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'visual/css/basic.css' %}">
    <link rel="stylesheet" href="{% static 'visual/css/header.css' %}">
    <script src="{% static 'visual/js/basic.js' %}"></script>
    {% block links %}
    {% endblock links %}
    <title>{% block title %}Uralsite{% endblock title %}</title>
</head>
<body>

{% block header %}
{% include 'includings/header.html' %}
{% endblock header %}

<div class="content center-container">
    {% block content %}
    {% endblock content %}
</div>

{% block footer %}
{% endblock footer %}

</body>
</html>