{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Uralsite</title>
    <link rel="stylesheet" href="{% static 'simulator/css/simulator.css' %}">
</head>
<body>
<div>
    <canvas class="canvas" width="1126" height="194" name="cranes_pos">
    </canvas>
</div>
<div class="container">
    <div class="div__1">
        <h3>Кран 1</h3>
        <p class="items">Картека в&nbsp;</p><span class="items span__1" style="color: #0000FF;">поднятом&nbsp;</span><span>положении.</span>
        <p><button class="down__button__1">Опустить</button></p>
        <p class="items">Кран&nbsp;</p><span class="items span__2" style="color: #0000FF">разгружен</span><span>.</span>
        <p><button class="take__ladle__1">Подцепить ковш</button></p>
    </div>
    <div class="div__2">
        <h3>Кран 2</h3>
        <p class="items">Картека в&nbsp;</p><span class="items span__3" style="color: #0000FF;">поднятом&nbsp;</span><span>положении.</span>
        <p><button class="down__button__2">Опустить</button></p>
        <p class="items">Кран&nbsp;</p><span class="items span__4" style="color: #0000FF">разгружен</span><span>.</span>
        <p><button class="take__ladle__2">Подцепить ковш</button></p>
    </div>
    <div class="div__3">
        <h3>Кран 3</h3>
        <p class="items">Картека в&nbsp;</p><span class="items span__5" style="color: #0000FF;">поднятом&nbsp;</span><span>положении.</span>
        <p><button class="down__button__3">Опустить</button></p>
        <p class="items">Кран&nbsp;</p><span class="items span__6" style="color: #0000FF">разгружен</span><span>.</span>
        <p><button class="take__ladle__3">Подцепить ковш</button></p>
    </div>
    <div class="div__4">
        <h3>Кран 4</h3>
        <p class="items">Картека в&nbsp;</p><span class="items span__7" style="color: #0000FF;">поднятом&nbsp;</span><span>положении.</span>
        <p><button class="down__button__4">Опустить</button></p>
        <p class="items">Кран&nbsp;</p><span class="items span__8" style="color: #0000FF">разгружен</span><span>.</span>
        <p><button class="take__ladle__4">Подцепить ковш</button></p>
    </div>

</div>
    <script src="{% static 'simulator/js/simulator.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</body>
</html>